<!doctype html>
<html lang="en">
<head>
  <title>Gallery Marionette</title>
  <link rel="stylesheet" href="galleryjs/assets/css/main.css">
  <link rel="stylesheet" href="galleryjs/assets/css/bootstrap-modal.css">
  <link href="http://fonts.googleapis.com/css?family=Sofia" rel="stylesheet" type="text/css">
</head>
<body>
  <h1 class="title">Andreys Gallery</h1>

  <div id="credits">
    <br />
    <br />
  </div>


  <div id="menu">
    <a href="#albums" class="js-menu-albums">Last album images</a>
    <a href="#" class="js-menu-list">Albums List</a>
  </div>
  <div id="content"></div>
  <div id="modal"></div>


  <!-- templates -->
  <script type="text/template" id="library-layout">
    <div id="searchBar">
      AlbumNumber : <input type="text" name="search" autocomplete="off" id="albumNumber" value="" />
      Page : <input type="text" name="page_number" autocomplete="off" id="pageNumber" value="" />
      <img src="/galleryjs/assets/images/loader.gif" alt="Loading..." id="spinner" />
    </div>

    <div id="imageContainer"></div>
  </script>

  <script type="text/template" id="albums-layout">
    <div id="albumContainer"></div>
  </script>




  <script type="text/template" id="image-list-template">
    <div style="display:table;width:100%;height:300px;">
      <div class="images"></div>
    </div>
  </script>

  <script type="text/template" id="album-list-template">
    <div style="display:block;width:100px;height:300px;">
      <div class="images"></div>
    </div>
  </script>


  <script type="text/template" id="image-template">
    <img src="<%= (thumbnail ? thumbnail : 'http://placehold.it/100x150') %>" alt="" class="imageprev" />
  </script>

  <script type="text/template" id="album-template">
    <img src="<%= (thumbnail ? thumbnail : 'http://placehold.it/100x150') %>" alt="" class="imageprev" />
  </script>


  <script type="text/template" id="image-detail-template">
    <a class="close" data-dismiss="modal">x</a>
    <div class="imgBook">
      <img src="<%= (thumbnail ? thumbnail : 'http://placehold.it/200x260') %>" />
    </div>
    <b>id :</b> <%= id %>
  </script>

  <script type="text/template" id="albums-template">


    <div style="display:block;width:100px;height:300px;">
      <p>That's all, folks !</p>
      <div class="images" id="list"></div>
    </div>


    <!--<div id="list"></div>-->
  </script>

  <!-- Thirt-Party Libraries (Order matters) -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
  <script src="/galleryjs/assets/vendor/underscore.js"></script>
  <script src="/galleryjs/assets/vendor/backbone.js"></script>
  <script src="/galleryjs/assets/vendor/backbone.marionette.js"></script>
  <script src="/galleryjs/assets/vendor/bootstrap-modal.js"></script>
  
  <!-- Application core (Order matters) -->
  <script type="text/javascript" src="/galleryjs/assets/javascript/app.js"></script>
  <script type="text/javascript" src="/galleryjs/assets/javascript/app.albums_app.js"></script>
  <script type="text/javascript" src="/galleryjs/assets/javascript/app.album_app.js"></script>
  <!--<script type="text/javascript" src="/galleryjs/assets/javascript/app.album_app.js"></script>-->
  <script type="text/javascript" src="/galleryjs/assets/javascript/app.album_app.images_list.js"></script>
  <script type="text/javascript" src="/galleryjs/assets/javascript/app.albums_app.albums_list.js"></script>
  <!--<script type="text/javascript" src="/galleryjs/assets/javascript/app.album_app.image_list.js"></script>-->
  <script type="text/javascript" src="/galleryjs/assets/javascript/app.album_app.routing.js"></script>
  <script type="text/javascript" src="/galleryjs/assets/javascript/app.albums_app.routing.js"></script>

  <script type="text/javascript">
    MyApp.start();
  </script>
</body>
</html>
